.modulo-descubierto {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 26%;  
  height: 67%; 
  transform: translateY(7%);
}

.modulo {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 14%;  
  height: 30%; 
}

.luz-roj-principal,.luz-apa-principal,.luz-ver-principal ,.luz-roj,.luz-apa,.luz-ver  {
  position: absolute;
  width: 10%; 
  height: 10%; 
  background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
  background-position: center;
	background-repeat: no-repeat;
	right :0;
}

.luz-roj , .luz-roj-principal{
  background-image: url("./images/images-modulo/luz-roja.png");
}

.luz-apa , .luz-apa-principal{
  background-image: url("./images/images-modulo/luz-apa.png");
}

.luz-ver ,.luz-ver-principal{
  background-image: url("./images/images-modulo/luz-verde.png");
}

.tapa-container{
  position: absolute;
  width: 90%;
  height:54%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -30%);
  pointer-events: all;
  z-index: 999;
}