.tapa{
    justify-content: center; 
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./images/images-bomba/Tapa.png");
}

.tapa-fall {
    justify-content: center; 
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./images/images-bomba/Tapa.png");
    animation: fall 2s ease-in-out forwards;
}

@keyframes fall {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateX(200px);
        opacity: 0,5;
    }
}

.cable-blurry{
    justify-content: center; 
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    top: 10%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./images/images-bomba/cables-borrosos.png");
}