@font-face {
    font-family: 'DS-DIGITB';
    src: url('../assets/fonts/DS-DIGIB.TTF');
}

.DS-DIGITB {
    font-family: 'DS-DIGITB', sans-serif;
}

.temporizador {
  position: absolute; 
  width: 75%; 
  height: 10%; 
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%); 
  outline: 3px solid black;
  background: #616f60;
  font-family: 'DS-DIGITB', monospace;
  font-size: 15px;
  color: rgb(8, 10, 8);
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.temporizador-descubierto {
  position: absolute; 
  width: 80%; 
  height: 10%; 
  transform: translateX(10%);
  font-family: 'DS-DIGITB', monospace;
  font-size: 40px;
  color: rgb(8, 10, 8);
  background: #616f60;
  border: 3px solid rgb(26, 25, 25);

  display: flex;
  justify-content: center;
  align-items: center;
}

